fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
requests
sentence-transformers
chromadb
openai
google-genai
passlib[bcrypt]
python-jose[cryptography]
google-auth
google-auth-oauthlib
google-auth-httplib2
authlib
httpx
itsdangerous
alembic
email-validator
openai-whisper
python-multipart
pytest
pytest-cov
pytest-asyncio
pytest-html
